.App {
  text-align: center;
}
.card{
  margin: 40px 0;
  border: 1px solid grey;
}
.btn-primary{
  border: 1px solid rgb(13, 0, 255);
  width: 100%;
}
.badge{
  background-color: rgb(157, 141, 141);
  padding: 4px;
  margin: 0 8px;
}